* {
    /* Resets Browser's Padding and Margin */
    margin: 0;
    padding: 0;

    font-family: 'Courier New', Courier, monospace;
  }

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 217, 217);
}

/* Header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: darkseagreen;
}

.title {
    margin-left: 2rem;
    font-size: x-large;
}

.plusBtn {
    margin-right: 3rem;
    width: 3rem;
    height: 3rem;
    outline-style: initial;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bolder;
}

/* Pop-Up */

#popUp{
    display: none;
    justify-content: center;
}

.form-container {
    display: grid;
    justify-content: center;
    align-content:center;
    width: 15rem;
    height: 20rem;
    background-color: darkseagreen;
    border-radius: 1rem;
}

.form-container > div {
    padding: 0.8rem;
    align-content: center;
}

#addBtn {
    font-size: medium;
    padding: 0.5rem;
    margin-left: 1.7rem;
}