@font-face {
    font-family: special-elite;
    src: url(./fonts/SpecialElite-Regular.ttf);
}

* {
    /* Resets Browser's Padding and Margin */
    margin: 0;
    padding: 0;

    font-family: 'Courier New', Courier, monospace;
}

/* Header */

#header {
    display: flex;
    position: sticky; top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #38664C;
}

.title {
    margin-left: 2.5rem;
    font-size: xx-large;
}

.plusBtn {
    margin-right: 3rem;
    width: 3rem;
    height: 3rem;
    outline-style: initial;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bolder;
    background-color: #fbeee0;
}

.plusBtn:hover {
    background-color: rgb(255, 255, 255);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Grid Container */ 

.container {
    display: grid;
    overflow: auto;
    justify-content: center;

    width: 100vw;
    height: 90vh;
    background-color: #faf0c7;

    grid-template-columns: repeat(auto-fill, clamp(13rem, 15rem, 22rem));

    gap: 7rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

/* Card Info */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    border: 0.22rem solid black;
    /*border: 0.22rem solid #822634;*/
    border-radius: 1rem; 
    background-image: url(./images/old_paper.webp);
}

.card > div {
    padding: 0.7rem;
    font-family: special-elite;
}

#cardBtn {
  background-color: #fbeee0;
  border: 0.15rem solid #422800;
  border-radius: 0.5rem;
  color: #422800;
  cursor: pointer;
  font-weight: medium;
  padding: 0.3rem;
}

#cardBtn:hover {
  background-color: rgb(255, 255, 255);
}

/* Pop-Up */

#popUp{
    display: none;
    position:absolute;
    top:50%;
    left:50%;
    width: 15rem;
    height: 20rem;
    margin-left: -7rem;
    margin-top: -10rem;
}

.add-title{
    position: relative;
    top: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.form-container {
    display: grid;
    justify-content: center;
    align-content:center;
    width: 15rem;
    height: 20rem;
    background-color: darkseagreen;
    border-radius: 1rem;
    border: 0.2rem outset goldenrod;
}

.form-container > div {
    padding: 0.8rem;
    align-content: center;
}

#addBtn {
    font-size: medium;
    padding: 0.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
}